openapi: 3.1.0

info:
  title: Roomcloud OpenAPI Specification
  version: "1.1"
  description: >
    Central OpenAPI entrypoint.
    Includes Messaging API and shared schemas (errors, base response envelope, pagination).

servers:
  - url: "https://api.roomcloud.net"
    description: Production
  - url: "https://api-test-02.g.roomcloud.net"
    description: Development

paths:
  # Importa le API di Messaging
  /be/api/messaging/{account_id}:
    $ref: "./messaging.yaml#/paths/~1be~1api~1messaging~1{account_id}"

components:

  securitySchemes:
    JWTAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:

    # Commons (Error, ErrorRS, Timestamp, Paging, Base Response Envelopes)
    Error:
      $ref: "./schemas/commons.yaml#/Error"

    ErrorRS:
      $ref: "./schemas/commons.yaml#/ErrorRS"

    Timestamp:
      $ref: "./schemas/commons.yaml#/Timestamp"

    OpenApiPaging:
      $ref: "./schemas/commons.yaml#/OpenApiPaging"

    OpenApiResponseSuccessBase:
      $ref: "./schemas/commons.yaml#/OpenApiResponseSuccessBase"

    OpenApiResponseError:
      $ref: "./schemas/commons.yaml#/OpenApiResponseError"

    # Messaging – Oggetti di dominio
    Conversation:
      $ref: "./schemas/conversation.yaml#/Conversation"

    ConversationList:
      $ref: "./schemas/conversation.yaml#/ConversationList"

    Message:
      $ref: "./schemas/conversation.yaml#/Message"

    Participant:
      $ref: "./schemas/conversation.yaml#/Participant"

    Attachment:
      $ref: "./schemas/conversation.yaml#/Attachment"

    Reservation:
      $ref: "./schemas/conversation.yaml#/Reservation"

    Unit:
      $ref: "./schemas/conversation.yaml#/Unit"

    # Envelope specifico Messaging
    OpenApiResponseMessagingSuccess:
      $ref: "./schemas/conversation.yaml#/OpenApiResponseMessagingSuccess"

    OpenApiResponseMessaging:
      $ref: "./schemas/conversation.yaml#/OpenApiResponseMessaging"